body {
    padding-bottom: 3000px;
}
.right-sidebar {
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 300px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}
.modal-title {
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.modal-content {
    font-family: arial;
    margin-bottom: 12px;
}