p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
}
.profile {
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-left: 10px;
}
.image1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 12px;
}
.image2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: left;
    margin-bottom: 12px;
}
.image3 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: right;
    margin-bottom: 12px;
}
.name {
    font-weight: bold;
    margin-bottom: 4px;
    margin-left: 8px;
    font-size: 18px;
}
.mutual-friends {
    color: rgb(100, 100, 100);
    margin-left: 8px;
    margin-bottom: 12px;
}
.add-friends-button {
    margin-left: 8px;
    margin-bottom: 10px;
    background-color: rgb(24, 119, 242);
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
} 