.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 72px;
    z-index: 200;
}
.sidebar-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 6rem;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}
.sidebar-link img {
    height: 24px;
}
.sidebar-link div {
    font-size: 10px;
}